.btn {
    background-color: #872341; /* Altın rengi */
    transition: background-color 0.3s ease; /* Arka plan renginde yumuşak geçiş efekti */
    cursor: pointer; /* İmleç türü */
}
.btn:hover {
    background-color: #fbff00; /* Hover durumunda arka plan rengi değişimi */
}

body {
    background-size: cover !important; /* boyut ayarı /
    background-repeat: no-repeat !important;
    background-attachment: fixed !important; / sayfa kaydırıldığında arka planın sabit kalmasını sağlar */
  }
  
  html, body { height: 100%; }
  body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }