<div class="row mt-5">
  <form>
    <div class="mb-3">
      <div style="max-width: 1090px;" class="col mt-5">
        <textarea class="form-control" id="comment" rows="5" placeholder="Comment here..."
          formControlName="commentText" required
          style="background-color: rgba(141, 34, 34, 0.507); font-weight: bold;"></textarea>
      </div>
    </div>
    <div class="row mt-2">
      <button type="submit" class="btn border border-dark col-1 offset-md-9" style="font-weight: bold; background-color: #872341;">Submit</button>
    </div>
  </form>
</div>