<div class="row justify-content-center">
    <div class="col-md-6 offset-md-3">
        <app-search-bar></app-search-bar>
    </div>
</div>


<div class="container mt-5">
    <div class="row">
        <div class="col-2">
            <img class="border border-secondary"
                src="https://avatars.cloudflare.steamstatic.com/43fd56feb61a24fb1670cd3d3f021764b4b6c8e9_full.jpg"
                alt="">
            <div class="row mt-3">
                <div class="col">
                    <div class="card mb-2" style="background-color: #460115c9;">
                        <div class="card-body">
                            <p class="card-text text-center text-white">Deadric</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card bg-danger">
                        <div class="">
                            <p class="card-text text-center">Report !</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-success">
                        <div class="">
                            <p class="card-text text-center">Comment</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="max-height: 95px;" class="col-2">
            <div class="card" style="background-color: #22092C;">
                <div>
                    <div class="card-header text-center text-white">
                        Steam ID
                    </div>
                </div>
                <div style="background-color: #872341;">
                    <div class="card-body d-flex justify-content-center align-items-center"
                        style="max-height: 100px; overflow: hidden;">
                        <blockquote class="text-white blockquote mb-0" style="font-size: smaller;">
                            <p>76561198082193005</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div style="max-height: 95px;" class="col-2">
            <div class="card" style="background-color: #22092C;">
                <div class="card-header text-center text-white">
                    Twitch
                </div>
                <div class="card-body d-flex justify-content-center align-items-center"
                    style="max-height: 100px; overflow: hidden; background-color: #872341;">
                    <blockquote class="text-white blockquote mb-0" style="font-size: smaller;">
                        <p>WTCN</p>
                    </blockquote>
                </div>
            </div>
        </div>
        <div style="max-height: 95px;" class="col-2">
            <div class="card" style="background-color: #22092C;">
                <div class="card-header text-center text-white">
                    Hours
                </div>
                <div class="card-body d-flex justify-content-center align-items-center"
                    style="max-height: 100px; overflow: hidden; background-color: #872341;">
                    <blockquote class="text-white blockquote mb-0" style="font-size: smaller;">
                        <p>128</p>
                    </blockquote>
                </div>
            </div>
        </div>
        <div style="max-height: 95px;" class="col-2">
            <div class="card" style="background-color: #22092C;">
                <div class="card-header text-center text-white">
                    Discord
                </div>
                <div class="card-body d-flex justify-content-center align-items-center"
                    style="max-height: 100px; overflow: hidden; background-color: #872341;">
                    <blockquote class="text-white blockquote mb-0" style="font-size: smaller;">
                        <p>Deadric#01</p>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card" style="background-color: #22092C;">
                <div class="card-header text-center text-white">
                    Reputation
                </div>
                <div class="card-body d-flex justify-content-center align-items-center"
                    style="max-height: 100px; overflow: hidden; background-color: #872341;">
                    <blockquote class="text-white blockquote mb-0" style="font-size: smaller;">
                        <p>+50</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <app-comment-page></app-comment-page>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-8">

        </div>
        <div class="col-2">
            <div class="float-end">
                <button class="img-size btn btn-sm  px-1 py-1" type="submit" id="previous page">
                    <img class="border border-dark rounded" src="assets\previous.png" alt="Previous Page" style="height: 35px; background-color: rgba(255, 255, 255, 0.212);">
                </button>
                <button class="img-size btn btn-sm  px-1 py-1" type="submit" id="next page">
                    <img class="border border-dark rounded" src="assets\next.png" alt="Next Page" style="height: 35px; background-color: rgba(255, 255, 255, 0.212);">
                </button>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mt-3">
        <div class="col-10 border rounded border-success" style="background-color: #0c660070;">
            <div style="max-height: 150px; min-height: 100px;" class="mx-3 my-3 rounded-3">
                <p class="text-white" style="font-size: 14px; margin: 0;">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Donec congue enim ipsum, at sagittis leo pulvinar quis. Sed in ultrices tortor.
                    Praesent congue at sapien id facilisis. Interdum et malesuada fames ac ante ipsum primis in
                    faucibus. Nunc tempus ac ante ac tempor. Nam porttitor massa at fermentum vestibulum. Proin eget
                    dolor massa. Curabitur turpis mauris, tempus sit amet pretium eget, efficitur in ante. Etiam
                    condimentum bibendum vulputate. Suspendisse a rhoncus nulla. Aenean in lobortis nisi. Vivamus eu
                    eros aliquam, facilisis velit quis, tristique elit. Morbi mattis rutrum est, id sagittis mauris
                    aliquet eu.

                    Fusce posuere erat at erat pretium varius. Donec at convallis magna. Nunc gravida nibh quis
                    vestibulum gravida. Nunc auctor tristique ante, in pretium nisl ullamcorper ut. Donec semper,
                    orci eu tempus condimentum, risus sapien.</p>
            </div>
        </div>
        <div class="col-2 d-flex align-items-center">
            <img style="max-width: 125px;" class="rounded-circle"
                src="https://avatars.cloudflare.steamstatic.com/43fd56feb61a24fb1670cd3d3f021764b4b6c8e9_full.jpg"
                alt="">
        </div>
    </div>
    <div class="row  mt-5">
        <div class="col-10 border rounded border-danger" style="background-color: #ff00004d;">
            <div style="max-height: 150px; min-height: 100px;" class="mx-3 my-3">
                <p class="text-white" style="font-size: 14px; margin: 0;">

                    Fusce posuere erat at erat pretium varius. Donec at convallis magna. Nunc gravida nibh quis
                    vestibulum gravida. Nunc auctor tristique ante, in pretium nisl ullamcorper ut. Donec semper,
                    orci eu tempus condimentum, risus sapien.</p>
            </div>
        </div>


        <div class="col-2 d-flex align-items-center">
            <img style="max-width: 125px;" class="rounded-circle"
                src="https://avatars.cloudflare.steamstatic.com/43fd56feb61a24fb1670cd3d3f021764b4b6c8e9_full.jpg"
                alt="">
        </div>

    </div>
    <div class="row  mt-5">
        <div class="col-10 border rounded border-success" style="background-color: #0c660070;">
            <div style="max-height: 150px; min-height: 100px;" class="mx-3 my-3">
                <p class="text-white" style="font-size: 14px; margin: 0;">Lorem ipsum dolor sit amet, in pretium
                    nisl ullamcorper ut. Donec semper, orci eu tempus condimentum, risus sapien.</p>
            </div>
        </div>


        <div class="col-2 d-flex align-items-center">
            <img style="max-width: 125px;" class="rounded-circle"
                src="https://avatars.cloudflare.steamstatic.com/43fd56feb61a24fb1670cd3d3f021764b4b6c8e9_full.jpg"
                alt="">
        </div>
    </div>
</div>