<div class="mt-3">
    <form>
        <div class="row no-gutters">
            <div class="col-4 offset-md-1">
                <input style="min-height: 45px;" type="text" class="form-control" name="steamId" placeholder="Search" aria-label="Ara"
                    aria-describedby="search-button">
            </div>
            <div class="col">
                <div class="input-group-append">

                    <button class="img-size btn btn-sm btn-outline-secondary px-1 py-1" type="submit" id="search-button">
                        <img src="assets\search.png" alt="Search Icon" style="height: 35px;">
                    </button>

                </div>
            </div>
        </div>
    </form>
</div>